body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    margin-top: 100px;
}

.login-container{
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000002;
    color: black;
}

input{
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #45a049;
}