body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #191970, #240046);
}

table{
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    color: black;
}

th, td{
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}

th{
    background: #4CAF50;
    color: white;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #e68a00;
}